# Database Configuration
# Docker interprets `$` as a variable reference, add an extra `$` to escape this change
DB_CONNECTION=Server=set-me
DB_TRUST_CERT=true

# Application Configuration
ASPNETCORE_ENVIRONMENT="Development"
ASPNETCORE_URLS="http://localhost:5001"