// variables.scss

// Layout
$max-width: 1200px;
$spacing-unit: 1rem;

$font-family-primary: 'Karla', Arial, Helvetica, sans-serif;
$fontsize-secondary: 1.4rem;

$font-size-base: 1rem;
$font-size-heading: 1.4rem;
